body {
  margin: 0px 30%;
  background-color: #e5e7ea;
  font-family: arial, sans-serif;
  padding: 0px;
}

main {
  background-color: #ccc;
  padding: 10px;
}

@media screen and (max-width: 800px) {
    body {
      margin: 0px;
    }
    
    main {
      background-color: inherit;
      padding: 0px;

    }
}

#header {
  height: 60px;
  background-color: red;
  box-shadow: 0 4px 3px #a8b2c1;
}

#header>h1 {
  margin: 0px auto;
  color: white;
  padding: 10px;
}

#container {
  padding: 12px;
  margin: 10px auto;
  background-color: white;
  box-shadow: 4px 4px 2px #a8b2c1;
  position: relative;
  padding: 20px;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0px auto;
  background-color: white;
  box-shadow: 4px 4px 2px #a8b2c1;
}

textarea {
  resize: none;
  width:70%;
  height: 46px;
  font-family: cursive;
  padding: 6px;
  box-shadow: 4px 4px 2px #a8b2c1;
  border: 0px;
  font-size: 16px;
}

#send {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 13px;
  margin: 0px 12px;
  position: absolute;
  box-shadow: 4px 4px 2px #a8b2c1;
  cursor: pointer;
  border-radius: 5px;
}

input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
  border: 1px solid;
  border-radius: 1px;
  content: '';
  display: block;
  height: 12px;
  transition: 240ms;
  width: 12px;
  background-color: white;
  border-color: red
}

input[type="checkbox"]:checked:after {
  background-color: red;
  border-color: red;
}

label,
input[type="checkbox"] {
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 15px;
  margin: 4px 4px 12px;
}

.username {
  color: red;
  font-weight: bold;
}

.bot {
  color: #49b25c;
  font-weight: bold;
}

img {
  width: 30px;
  height: 30px;
}

.flex-b {
  display: flex;
  justify-content: space-between;
}
